body{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial, sans-serif;
}
.container{
    display:flex;
    border:4px solid black;
    border-radius: 10px;
    width:220px;
    padding:10px;
    flex-direction:column;
    align-items:center;
    gap:15px;
    background-color: cadetblue;
}
h1{
    font-size:20px;
    font-weight:bold;
}
button{
    cursor:pointer;
}
@media (max-width:400px){
    .container{
        width:160px;
    }
}
